[tool.black]
line-length = 88
target-version = ['py38']
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.venv
  | venv
  | build
  | dist
)/
'''

[mypy]
python_version = 3.8
disable_error_code = type-abstract
