name: Python Quality Checks

on:
  push:
    paths:
      - 'src/Python/**'
      - '.github/**'

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8, 3.11]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
    
      - name: Set up virtual environment
        run: |
            python -m venv venv
            source venv/bin/activate

      - name: Upgrade pip
        run: |
            source venv/bin/activate
            python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
            source venv/bin/activate
            pip install -r src/Python/requirements/requirements.txt;

      - name: Run black
        run: |
            source venv/bin/activate
            black --check src/Python/modules

      - name: Run flake8
        run: |
            source venv/bin/activate
            flake8 src/Python/modules

      - name: Run pylint
        run: |
            source venv/bin/activate
            pylint --rcfile=src/Python/.pylintrc $(find src/Python/. -name "*.py" ! -path "./.venv/*" ! -path "./venv/*") 

      - name: Run mypy
        run: |
            source venv/bin/activate
            mypy src/Python/modules

      - name: Run unit tests
        run: python -m unittest discover -v -s src/Python/modules -p "test*.py"
